{% load static %}
<!DOCTYPE html>
<html lang="ar">
    <head>
	<link rel="manifest" href="{% static 'todolist/manifest.json' %}" />
        <!--Add responsive design-->
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <style>
        #footer {
            position: fixed;
            padding: 10px 10px 0px 10px;
            bottom: 0;
            width: 100%;
            /* Height of the footer*/ 
            height: 40px;
            background: grey;
       		 }
    	</style>

	

	<script type="module">
  		import 'https://cdn.jsdelivr.net/npm/@pwabuilder/pwaupdate';
   		const el = document.createElement('pwa-update');
   		document.body.appendChild(el);
	</script>

        <title>{% block title%}قائمة مشتريات{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block script %}
        {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block body %}
        {% endblock %}
        </div>
    </body>
	<footer id="footer">
		<p><a href="https://github.com/Muhammadelakder/grocerylist" target="_blank">تعرف علي الكود المصدر</a></P>
	</footer>
</html>
